.card-top {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .card-top .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 20px;
    flex-wrap: wrap; 
  }
  
  .item {
    height: 280px;
    border: 1px solid rgb(185, 184, 184);
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  a {
    text-decoration: none;
  }
  
  .header-tag {
    text-align: center;
  }
  
  .item h6 {
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin: 10px 0;
  }
  
  img {
    width: 270px;
    height: 200px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(0.9);
  }
  
  
  
  
  @media (max-width: 1024px) {
    .card-top {
      height: auto; 
      gap: 20px;
    }
  
    .item {
      width: 240px; 
      height: auto;
    }
  
    img {
      width: 220px;
      height: 180px;
    }
  }
  
  
  @media (max-width: 768px) {
    .card-top {
      flex-direction: column; 
      height: auto;
      gap: 10px;
    }
  
    .item {
      width: 90%; 
      margin: 0 auto;
    }
  
    img {
      width: 100%; 
      height: auto; 
    }
  
    h6 {
      font-size: 18px; 
    }
  }
  
  @media (max-width: 576px) {
    .item {
      width: 100%;
      height: auto;
    }
  
    img {
      width: 100%;
      height: auto;
    }
  
    h6 {
      font-size: 16px;
    }
  
    .card-top {
      gap: 5px;
    }
  }
  